/*
 *  line.css
 *
 *  Name: Bas Katsma
 *  Student 10787690
 *
 */

body {
    text-align: center;
}

.d3-tip {
    position: absolute;
    height: auto;
    padding: 10px;
    font: 18px 'Roboto Condensed';
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
