/*
 *  barchart.css
 *
 *  Name: Bas Katsma
 *  Student 10787690
 *
 */

#barchartDiv, #barchartTextDiv {
    text-align: center;
}

text.label, text.legendText {
    font: 16px 'Fira Sans Condensed';
}

#barchartDiv text.titleText, #barchartTextDiv text.titleText {
    font: 106px 'Oswald';
}

#barchartDiv text.chartSectorText, #barchartTextDiv text.chartSectorText {
    font: 26px 'Fira Sans Condensed' !important;
}

.slider .axis {
    font-size: 20px;
}

.axis {
    stroke-width: 0.75;
}
