/*
 *  barchart.css
 *
 *  Name: Bas Katsma
 *  Student 10787690
 *
 */

#barchartDiv {
    text-align: center;
}

text.label, text.legendText {
    font: 16px 'Fira Sans Condensed';
}

#barchartDiv text.titleText {
    font: 106px 'Oswald';
}

#barchartDiv text.sectorText {
    font: 24px 'Fira Sans Condensed';
}

.slider .axis {
    font-size: 20px;
}

.axis {
    stroke-width: 0.75;
}
