/*
 *  index.css
 *
 *  Name: Bas Katsma
 *  Student 10787690
 *
 */

body {
    background: #000000 url("../../img/front.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #aaa;
    padding: 0.1em 1em;
    font-size: 3.5em;
    font-weight: 400;
    margin: 0.4em 0;
}

.navbar-dark {
    background-color: #000000 !important;
}

#animatedTextRow {
    padding-top: 250px;
}

#continueButtonColumn {
    padding-left: 70px;
}
