/*
 *  line.css
 *
 *  Name: Bas Katsma
 *  Student 10787690
 *
 */

text.title-text {
    font-size: 56px;
}

text.title-extra-text {
    font-size: 26px;
}

.line {
    stroke-width: 3.5;
    fill: none;
}

.axis {
    stroke-width: 0.75;
}
